header {
  font-family: 'Yellowtail', cursive;
  font-size: 30px;
  color : white;
  text-align: center;
  margin-bottom: 0px;
}
h1 {
  margin-bottom: 0px;
}
h2{
  font-size: 30px;
}
h3 {
  margin-top: 5px;
  margin-bottom: 15px;
}
body {
  background-color: rgba(0,0,0,0.8);
}
button {
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 25px;
  border-style: none;
}

ul {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 10px;
}
li {
  display: inline-flex;
  padding-left: 70px;
  padding-right: 70px;
}
.container {
    width:430px;
    margin-left:auto;
    margin-right: auto;
}

.row {
    display:flex;
}

.color-selection {
  flex:1;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 50%;
  border-color: grey;
  border-style: solid;
  border-width: 10px;
  height:200px;
}

#green {
  background-color: green;

}

#red {
  background-color: #C31212;
}

#blue {
  background-color: #1A1AB1;
}

#yellow {
  background-color: #DADA29;
}

footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}

.click-bright-green {
  background-color: #06F842 !important;
  border-color: #06F842;
}
.click-bright-red {
  background-color: #FD1A1A !important;
  border-color:  #FD1A1A;
}
.click-bright-blue {
  background-color: #2828FF !important;
  border-color: #2828FF;
}
.click-bright-yellow {
  background-color: #FFFF0F !important;
  border-color:#FFFF0F;
}



@media (max-width: 500px){
  .header {
    margin-left: 20px;
  }
  .row {
    width: 200px;
    margin-left: 80px;;
    margin-right: auto;
    display: block;

}
